# Server Config
PORT=4000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

# Caching (Redis) - Optional (falls back to in-memory if empty)
REDIS_URL="redis://localhost:6379"

# Security (JWT Secrets)
JWT_SECRET="your_jwt_access_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key"
